.podcast__preview{
    position: relative;
}
.podcast__preview .image__cutter{
    width: 472px;
    height: 472px;
}
.podcast__preview .image__cutter img{
    border-radius: 20px;
    box-shadow: 12px 12px 0px 0px #81ADC8;
}

.details__container{
    display: flex;
    justify-content: space-between;
}
.podcast__content__container {
    max-width: 570px;
    width: 100%;
}
.podcast__content__container .line {
    height: 1px;
    background-color: black;
    margin: 22px 0;
}
.podcast__top__section {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}
.featured__episode{
    padding: 3px 6px;
    border: 2px solid #CD4631;
    border-radius: 4px;
    color: #CD4631;
    font-size: 12px;
    line-height: 19.2px;
}
.podcast__content__title{
    font-size: 37px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.02em;
}

.podcast__about {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #4D4D4D;
}
.hosted {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 60px 0;
}
.hoster {
    display: flex;
    align-items: center;
}
.hoster img{
    margin-right: 7px;
}
.hoster .highlighted__word-red-bold{
    margin-left: 5px;
}
.podcast__bottom__section .btn__black{
    margin-right: 20px;
}
.tags__container{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.tags__text{
    font-weight: 700;
    line-height: 22px;
    color: #4D4D4D;
    margin-right: 60px;
}
.options {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 20px 0;
    flex-wrap: wrap;
    gap: 15px;
}
.options a{
    font-size: 23px;
    line-height: 36px;
    color: #4D4D4D;
    transition: all .3s;  
}
.options a:hover, .options a:active{
    color: #CD4631;
}
.episodes__container{
    background-color: white;
}


@media screen and (max-width: 1200px){
    .details__container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .podcast__bottom__section{
        text-align: center;
    }
    .tags__container{
        justify-content: center;
    }
}

@media screen and (max-width: 800px){
    .top__container{
        padding-bottom: 50px;
    }
    .podcast__preview .image__cutter {
        width: 294px;
        height: 302px;
    }
    .podcast__content__container{
        padding: 0 20px;
    }
    .podcast__content__title{
        font-size: 30px;
    }
    .podcast__about{
        font-size: 14px;
    }
    .podcast__bottom__section .btn__black{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .tags__container{
        margin-top: 50px;
    }
}